<header class="header">
	<a class="header__link" href="index.html">
		<img alt="vwm logo" class="header__logo js-logo" src="root:/src/assets/images/logo.svg"/>
	</a>
	<nav.html>
		<li class="nav__item">
			<a class="nav__link" href="#">ABOUT US</a>
		</li>
		<li class="nav__item js-hover">
			<a class="nav__link" href="#">PRODUCTS</a>
			<dropDown.html>
				<li class="drop-down__item">
					<a class="drop-down__link" href="#">
						ColiMinder CMI-02
					</a>
				</li>
				<li>
					<a class="drop-down__link" href="#">
						ColiMinder CMI-02-LE
					</a>
				</li>
				<li>
					<a class="drop-down__link" href="#">
						ColiMinder CMI-02-ERU
					</a>
				</li>
			</dropDown.html>
		</li>
		<li class="nav__item js-hover">
			<a class="nav__link" href="#">MEDIAS</a>
			<dropDown.html>
				<li class="drop-down__item">
					<a class="drop-down__link" href="#">
						News
					</a>
				</li>
				<li>
					<a class="drop-down__link" href="#">
						Scientific Papers
					</a>
				</li>
				<li>
					<a class="drop-down__link" href="#">
						Videos
					</a>
				</li>
			</dropDown.html>
		</li>
		<li class="nav__item">
			<a class="nav__link" href="contact.html">CONTACT</a>
		</li>
	</nav.html>
</header>