<footer>
	<section class="footer-contact">
		<div class="footer-contact__map--wrapper">
			<img class="footer-contact__map" src="root:/src/components/footer/vwmsmap.png"/>
		</div>
		<div class="footer-contact__info">
			<div class="footer-contact__info--wrapper">
				<h2 data-before="CONTACT" class="main-section--footer-title">CONTACT</h2>
				<hr/>
				<address class="footer-contact__info__content">
					<div class="footer-contact__info__wrapper">
						<img class="footer-contact__info__icon" src="root:/src/assets/images/icons/pin.svg" alt="Address"/>
						<div>
							<strong>VWM Solutions</strong> <br/>
							DORFSTRASSE 17 <br/>
							A-2295 ZWERNDORF <br/>
							AUSTRIA
						</div>
					</div>
					<div class="footer-contact__info__wrapper">
						<img class="footer-contact__info__icon" src="root:/src/assets/images/icons/phone-call.svg" alt="Phone"/>
						<a href="tel:+432284201880">+43 2284 201880</a>
					</div>
					<div class="footer-contact__info__wrapper">
						<img class="footer-contact__info__icon" src="root:/src/assets/images/icons/email.svg" alt="E-mail"/>
						<a href="mailto:office@vwms.at">office@vwms.at</a>
					</div>
				</address>
			</div>
		</div>
	</section>
	
	<section class="footer-last">
		<div class="footer-last__navbar footer-navbar">
			<div class="footer-navbar__company company">
				<img class="company__logo" src="root:/src/assets/images/logo.svg" alt="VWMS logo"/>
				<h2 class="company__name">
					<strong class="company__acronym">VWM</strong>
					<em class="company__acronym-meaning">
						vienna water monitoring	<span>SOLUTIONS</span>
					</em>
				</h2>
			</div>
			<nav class="footer-navbar__nav nav">
				<ul class="nav__list">
					<li class="nav__item">
						<a class="nav__link" href="#">Home</a>
					</li>
					<li class="nav__item">
						<a class="nav__link" href="#">About us</a>
					</li>
					<li class="nav__item">
						<a class="nav__link" href="#">Products</a>
					</li>
					<li class="nav__item">
						<a class="nav__link" href="#">Medias</a>
					</li>
					<li class="nav__item">
						<a class="nav__link" href="#">Contact</a>
					</li>
					<li class="nav__item">
						<a class="nav__link" href="#">Terms and conditions</a>
					</li>
				</ul>
			</nav>
		</div>
		<hr/>
		<div class="footer-last__socials socials">
			<small class="socials__copyright">© 2021 VWM Solutions. All rights reserved.</small>
			<ul class="socials__list">
				<li class="socials__item">
					<a class="socials__link" href="https://www.linkedin.com/company/vienna-water-monitoring/">
						<img class="socials__icon" src="root:/src/assets/images/icons/linkedin.svg" alt="Linkedin"/>
					</a>
				</li>
				<li class="socials__item">
					<a class="socials__link" href="https://twitter.com/vwm_solutions">
						<img class="socials__icon" src="root:/src/assets/images/icons/twitter.svg" alt="Twitter"/>
					</a>
				</li>
				<li class="socials__item">
					<a class="socials__link"href="https://www.youtube.com/channel/UCYcl9ZRXvMDNeMzl83Ehl-Q">
						<img class="socials__icon" src="root:/src/assets/images/icons/youtube.svg" alt="Youtube"/>
					</a>
				</li>
			</ul>
		</div>
	</section>
</footer>